body{
	font-family: 'Old Standard TT', serif;
	background: white;
	margin-top: 0;
}
li {
	font-size: 20px;
}
p {
  color: blue;
}
h1{
	color:blue;
	border: 4px solid pink;
}
#zee{
	background: pink; 
	text-align:center;
	margin-top:0;
}
#zee1 { 
	border: 40px solid orange;
	float: left;

}
#zee2 {float:right;
}